abbrev.o
argcount.o
ask.o
buf.o
c.o
case.o
commands.o
delete.o
disp.o
extend.o
fmt.o
fp.o
insert.o
io.o
iproc.o
jctype.o
jove.o
keymaps.o
keys.o
list.o
macros.o
marks.o
misc.o
mouse.o
move.o
paragraph.o
portsrv.o
proc.o
re.o
reapp.o
rec.o
recover.o
scandir.o
screen.o
setmaps.o
teachjove.o
term.o
termcap.o
unix.o
util.o
vars.o
wind.o
doc/cmds.doc
jjove
keys.c
paths.h
portsrv
recover
setmaps
teachjove
